@font-face {
    font-family: Cormorant;
    /* Гарнитура шрифта */
    src: url(fonts/cormorantgaramond/Cormorantgaramondsemibolditalic.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Langar;
    /* Гарнитура шрифта */
    src: url(fonts/Langar/Langar-Regular.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSans;
    /* Гарнитура шрифта */
    src: url(fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
    /* Путь к файлу со шрифтом */
}
body{

}

h1 {
    font-family: OpenSans, montserrat, sans-serif;
    color: #000;
    margin: 20;
    font-size: 40px;
}

h2 {
    font-family: Cormorant, montserrat, sans-serif;
    font-family: Cormorant, montserrat, sans-serif;
}

p {
    margin: 20;
    font-family: Cormorant, montserrat, sans-serif;
    color: #000;
}

.wrapper {
    overflow: hidden;
    max-width: 1200px;
    height: 95vh;
    padding: 5px;
    margin: auto;
    border: solid 7px #ccc;
    border-radius: 10px;
    animation: changecolor 5s infinite;
}
@keyframes changecolor{
    0% {
        background-color: #0066cc;
      }
      50% {
        background-color: rgba(7, 195, 0, 0.77);
      }
      100% {
        background-color: #0066cc;
      }   
}
.content {

    float: left;
    width: 58%;
    margin-left: 1%;
    margin-bottom: 1%;
    
    border: solid 3px white;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;  /* добавить полосу прокрутки */ 
    height: 75vh;
}
.border{
    position:relative;
    display:inline-block;
    margin-left: 3%;
}
.border img {
    display:block;
  }
.myfoto {
    /*float: left;*/
    position: absolute;
    left: 60px;
    top: 75px;
    width: 250px;
    /*margin-left: 8%;*/
    padding: 0;
    border: solid 7px white;
    border-radius: 10px;
    background-color: #0066cc;
}
.myfoto img{
    width: 250px;
    margin: 0;
    position: relative;
}
.myname {
    /*list-style-position: inside;*/
    background-color: #2ce;
    padding: 0 0 0 10px;
    margin: 5px;

    border: solid 7px white;
    border-radius: 10px;
    /*float: left;*/

}


.content p {
    /*list-style-position: inside;*/
    font-family: montserrat, sans-serif;
    line-height: 1.8;
    font-size: 16px;
    color: #000;
    margin: 0;
}

#metodichka {
    font-family: montserrat, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #000;
    margin: 0;
}



nav {
    position: relative;
    left: 7%;
}
.content nav {
    position: relative;
    left: 0px;
}
nav a {
    text-decoration: none;
}

nav ul {
    margin: 0 0 10 0;
    padding: 0;
}

nav li {
    /*border: solid 3px #ccc;*/
    list-style-position: inside;
    font: 14px 'Oswald' sans-serif;
}

.content-menu li {
    display: inline-block;
    padding: 10px 10px;
    margin: 0;
}

.content-menu li.active-li {

    color: #2ce;
}

.content-menu a {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-menu a:hover {
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social li {
    display: inline-block;
    padding: 10px 10px;
    margin: 0;
    border: solid 2px #2ce;
    border-radius: 10px;
    background: #2ce;
}

.social li.active {
    background: #fff;
    color: #2ce;
    bo
}

.social a {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.social a:hover {
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.space{
    height: 100vh;
}